i.glyphicon3x {
    font-size: 2em;
}

.navbar-default {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
 }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #F0F0F0;
 }

.main-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.scrollable {
   width: 100%;
  height: -webkit-calc(100% - 80px);
  overflow: auto;
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-brand {
  padding-top: 5px;
}
